<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <title>E1 News!</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">All the news fit to scrape!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">GitHub</a></li>
        <li><a href="http://www.e1.ru">E1 Website</a></li>
      </ul>
    </div>
  </nav>
  <div class="parallax-container">
    <div class="parallax"><img src="/static/images/yekaterinburg.jpg"></div>
  </div>

    {{{body}}}

<script type="text/javascript">
  // initializes the parallax (differently scrolling windows)
  $(document).ready(function(){
    $('.parallax').parallax();
  });
  //
</script>
</body>
</html>
