body {
  background-color: #cac7c0;
  z
}

.bannerImage {
  /*width: 70%;*/
}

.nav-wrapper {
  background-color: #1E152A;
}
.brand-logo {
  margin-left: 15px;
}

.cardContainer {
  /*width: 50%;*/
}
