body {
  background-color: #444054;
  z
}

.bannerImage {
  /*width: 70%;*/
}
.nav-wrapper {
  background-color: #1E152A;
}
.brand-logo {
  margin-left: 15px;
}

a {
  color: #2F243A;
}
a:link {
  text-decoration: none;
}
.material-icons {
  color: #1E152A;
}
.collapsible-header {
  background-color: #BEBBBB;
}
.collapsible-body {
  background-color: #BEBBBB;
}
#savenote {
  background-color: #1E152A;
  color: #BEBBBB;
  padding: 10px;
}

h4 {
  margin-top: 10px;
  font-size: 2rem;
}

#nameinput:focus {
  border-bottom: 10px black;
}
